
@using System.Threading.Tasks
@using Core1010.Repository.Models
@{
    //@model EngagementIndexModel
}



@foreach (Engagement eng in @Model.Engagements)
{
    <div class="thumbnail">
        @eng.Id
    </div>
    <div class="thumbnail">
        @eng.Name
    </div>
    <div class="thumbnail">
        @eng.Description
    </div>
    <div>-----------------------------------</div>
}


